ek_data
Experiment_logs
saved_features
saved_models
TEST_RESULTS
env.yml
EK_Data
pretrained_i3d
Experiment_logs
EMG_data
Epich_kitchens_reduced
EMG_preprocessed
colab_runner.ipynb
saved_features
saved_models
TEST_RESULTS
ActionSense_RGB
ActionSense_EMG
models/__pycache__
utils/__pycache__
tasks/__pycache__
action-net
.gitignore
